<div class="users p-5 align-items-center">
  <% @users.each do |user| %>
    <%= link_to user do %>
      <%= render partial: "user", locals: { user: user, myclass: "orange-shadow" } %>
    <% end %>
  <% end %>
</div>
